@font-face {
  font-family: 'NanumCoDingHeuiMang';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumCoDingHeuiMang/NanumCoDingHeuiMang.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumCoDingHeuiMang/NanumCoDingHeuiMang.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumCoDingHeuiMang/NanumCoDingHeuiMang.ttf') format('truetype');
}